.loginContainer{
    width: 100%;
    margin-top: 6rem;
}

.formContainer{
    width: 55%;
    margin: 0 auto;
    box-shadow: 0 3px 3px #bbbbbb;
    background-color: #ffffff;
    border-radius: 3rem;
}

.formHeader{
    width: 100%;
    background: linear-gradient(to top, #df993c 5%, #f1da04);
    margin-bottom: 1rem;
    padding: .75rem;
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.formContainer form{
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.formGroup{
    width: 90%;
    height: 3rem;
    margin: .75rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formGroup label{
    width: 20%;
    text-align: left;
    font-size: 1.2rem;
}

.formGroup input{
    flex: 1;
    height: 100%;
    border-radius: .5rem;
    border: 1px solid #00000045;
    box-shadow: 0px 3px 3px #bbbbbb;
    padding-left: .5rem;
    font-size: inherit;
    font-family: inherit;
}

.formGroup input:focus{
    outline: none;
}

.forgotPassContainer{
    width: 90%;
    margin: .5rem auto;
    text-align: right;
    padding-right: 1rem;
}

.forgotPassContainer a{
    color: #575ff7;
    font-size: 1.1rem;
}

.formContainer button{
    margin-top: 1.5rem;
    display: block;
    width: max-content;
    padding: .75rem 4rem;
    border-radius: 2rem;
    background: linear-gradient(to left, #3e417a 5%, #7b81f4);
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
}

.formContainer p{
    text-align: center;
    margin: 1rem 0;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

.formContainer p a{
    color: #575ff7;
}

