.adminPanelWrapper{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user{
    width: 90%;
    margin: 3rem auto;
    box-shadow: 3px 4px 4px #cccccc;
    padding: 1rem 1.25rem;
    border-radius: 2rem;
    display: flex;
    border: 1px solid #cccccc;
    position: relative;
}

.userImageBackdrop{
    width: 10rem;
}

.user img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: -50%;
}

.userInfo{
    flex: 1;
    margin-left: 1rem;
}

.userInfo h2{
    margin-bottom: .5rem;
}

.userInfo p{
    margin-bottom: .2rem;
}

